* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--sidebar-background-color: rgb(27, 27, 27);
	--sidebar-active-background-color: rgb(68, 68, 68);
	--sidebar-color: rgb(235, 235, 235);
	--sidebar-border-color: rgb(72, 72, 72);
}

body {
	height: 100vh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	/* js declared with */
	max-width: 280px;
	min-width: 220px;
	height: 98%;
	margin: 10px 10px;
	padding: 15px 10px;
	border-radius: 15px;
	color: var(--sidebar-color);
	background-color: var(--sidebar-background-color);
	font-family: 'Open Sans', sans-serif;
}

.sidebar-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 5px;
	padding: 10px 10px;
	border: none;
	border-radius: 8px;
	font-size: 15px;
}
.sidebar-box i {
	margin-right: 15px;
	font-size: 30px;
}

/* minimalize and maxymalize sidebar buttons */
.minimalize-maxymalize-sidebar-button {
	padding: 5px 5px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}
.minimalize-maxymalize-sidebar-button:hover {
	background-color: var(--sidebar-active-background-color);
}
.maximize-sidebar-button {
	display: none;
}

/* Top Section */
.sidebar-top-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.sidebar-logo {
	font-size: 18px;
	padding: 5px 5px;
}
.sidebar-logo i {
	margin-left: 5px;
	font-size: 14px;
}

/* User Section */
.sidebar-user-section:hover {
	background-color: var(--sidebar-active-background-color);
	cursor: pointer;
}
.sidebar-user-section span {
	margin-left: 15px;
}

.sidebar-user-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
.sidebar-user-active-bullet {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(0, 194, 0);
	box-shadow: 0 0 5px rgb(2, 255, 2);
}

/* Buttons Section */
.sidebar-buttons-section {
	flex-grow: 1;
	border-bottom: 1px solid var(--sidebar-border-color);
	overflow-y: auto;
}

/* Search Section */
.sidebar-search-section {
	border-radius: 7px;
	background-color: var(--sidebar-active-background-color);
}
.sidebar-search-input {
	height: 100%;
	flex-grow: 1;
	border: none;
	color: white;
	background: transparent;
}
.sidebar-search-input:focus {
	outline: none;
}

/* Buttons Section */
.sidebar-button {
	cursor: pointer;
	transition: background-color 0.3s;
}
.sidebar-button:hover {
	background-color: var(--sidebar-active-background-color);
}

/* Logout Section */

/* Change Color Section */

.sidebar-change-color-box {
	background-color: var(--sidebar-active-background-color);
}

.sidebar-change-color-box .fa-sun {
	display: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	margin-left: 40px;
	width: 60px;
	height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: '';
	height: 22px;
	width: 22px;
	left: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #41f321;
}

input:focus + .slider {
	box-shadow: 0 0 1px #41f321;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
